body {
    margin: 0;
}

a {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
    width: 400px;
    height: 120px;
    line-height: 120px;
    font-size: 60px;
    color: #e74c3c;
    background-color: rgba(255, 255, 255, 0.95);
}

.download {
    margin: -120px 0 0 -200px;
}

.online {
    margin: 0 0 0 -200px;
}

img {
    width: 100%;
}
