body {
    margin: 0;
}

a {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
    width: 400px;
    height: 120px;
    line-height: 120px;
    font-size: 60px;
    color: #e74c3c;
    z-index: 1;
}

a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-filter: blur(60px);
    filter: blur(60px);
    z-index: -1;
}

.download {
    margin: -120px 0 0 -200px;
}

.online {
    margin: 0 0 0 -200px;
}

img {
    width: 100%;
}
